.RegisterPage-SnackBarContent {
    background: #d83434 !important;
}

.RegisterPage-SnackBarContent  #client-snackbar {
    display: flex;
    align-items: center;
}

.RegisterPage-SnackBarContent  #client-snackbar svg {
    padding-right: 0.3rem; 
}